body { 
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    width: 95%;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
}

a{
    color: #E9E9E9;
    font-size: 15px;
    padding: auto;

}
input:focus{
    outline: none;
    box-shadow: 0 0 10px #007A7A;
}
.container {
    background-color: #E9E9E9;
    margin: auto;
    margin-top: 250px;

    width: 600px;

    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.header{
    padding: 8px;
}

.flex-container{
    display:flex;
    justify-content: space-around;
    

}
.header-title{
    color: #006A6A;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    
}

.header-subtitle{
    color: #006A6A;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.9rem;

}
.header-subtitle-2{
    font-size: 1rem;
    text-align: center;
}

.col-1{
    background-color: #006A6A;
    width: 50%;
    padding: 1.2rem;
    color: #E9E9E9;
}

.col-2{
    background-color: #007A7A;
    width: 50%;
    padding: 0.6rem 1.2rem;
    color:#E9E9E9;
}

.subscription-title{
    font-size: 1.2rem;
    text-align: center;
}

.price{
    font-size: 1.6rem;
    font-weight: 700;
}

.month{
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 0.75rem;
    margin-bottom: 1.2rem;
}

button{
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    
    width: 95%;
    padding: 0.9rem 2rem;
    
    color: #007A7A ;
    background-color:#f5f5f5; 
    
    font-size: 1rem;
    
    border-radius: 4px;
    border: none;

    cursor: pointer;
    
}

button:hover{
    background-color: #E9E9E9;
}

.image-group{
   text-align: center;
   padding-top: 15px;
   padding-right: 25px;
}

.form-register{
    background-color: #006A6A;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
@media screen and (max-width: 620px) {
    html{
        font-size: 8px;
    }

    .flex-container{
        flex-direction: column;
    }

    .col-1, .col-2{
        width: 100%;
        box-sizing: border-box;
    }

    .container{
        width: 95%;
    }

    .header{
        padding: 16px;
    }
}